.bs-component {
  position: relative;

  .modal {
    position: relative;
    top: auto;
    right: auto;
    left: auto;
    bottom: auto;
    z-index: 1;
    display: block;
  }
}

#play-modal {
  .balloon {
    position: relative;
    overflow: hidden;

    .balloon-icon {
      position: absolute;
      overflow: hidden;
      top: 0;
      width: 60px;

      img {
        width: 60px;
      }

      .fa-stack {
        &.small {
          font-size: 1.6rem;
        }

        i {
          vertical-align: middle;
        }
      }
    }

    .balloon-member {
      position: absolute;
      width: 60px;
      text-align: center;
      top: 63px;
      font-size: 10px;
    }

    .balloon-side {
      position: relative;
      float: left;
      margin: 3px 15px 53px 65px;
    }

    .balloon-text {
      position: relative;
      border: 2px solid #eee;
      border-radius: 6px;
      background-color: #fff;
      color: #333;
      line-height: 1.2;
      padding: 7px;

      > p:last-of-type {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      &:before {
        content: "";
        position: absolute;
        border-style: solid;
        top: 16px;
        z-index: 3;
      }

      &:after {
        content: "";
        position: absolute;
        border-style: solid;
        top: 15px;
        z-index: 2;
      }
    }

    &.left {
      .balloon-icon, .balloon-member {
        left: 0;
      }

      .balloon-text {
        &:before {
          left: -7px;
          border-width: 7px 10px 7px 0;
          border-color: transparent #fff transparent transparent;
        }

        &:after {
          left: -10px;
          border-width: 8px 10px 8px 0;
          border-color: transparent #eee transparent transparent;
        }
      }
    }

    &.right {
      .balloon-icon, .balloon-member {
        right: 0;
      }

      .balloon-side {
        float: right;
        margin: 3px 65px 53px 15px !important;
      }

      .balloon-text {
        &:before {
          right: -7px;
          border-width: 7px 0 7px 10px;
          border-color: transparent transparent transparent #fff;
        }

        &:after {
          right: -10px;
          border-width: 8px 0 8px 10px;
          border-color: transparent transparent transparent #eee;
        }
      }
    }
  }
}

.popper-tooltip {
  display: none;
  //display: inline-block;
  background: $primary;
  color: $white;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 13px;
  border-radius: 4px;

  .arrow {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
    visibility: hidden;
    bottom: -4px;

    &::before {
      position: absolute;
      width: 8px;
      height: 8px;
      background: inherit;
      visibility: visible;
      content: '';
      transform: rotate(45deg);
    }
  }

  &[data-show] {
    display: block;
  }
}

.toast-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1040;
}
