
.badge {
  color: $white;

  &-primary {
    background-color: $primary;
  }
  &-secondary {
    background-color: $secondary;
  }
  &-success {
    background-color: $success;
  }
  &-danger {
    background-color: $danger;
  }
  &-warning {
    background-color: $warning;
  }
  &-info {
    background-color: $info;
  }
  &-dark {
    background-color: $dark;
  }
  &-light {
    color: $gray-700;
    background-color: $light;
  }
}
